<!-- BEGIN  footer-->
<footer class="footer">
	<div class="l-wrap">
		<div class="footer__left col-50">
			<h3 class="footer__title">About Us</h3>
			<div class="footer__txt">Online Dating Service where you can Meet Singles in New York. Just create your own profile and then simply browse through pics of Singles. Here You succeed in finding your Soul Mate! This is easy for a Singles to find each other in New York with DoULike.</div>
			<div class="footer__txt">© 2005-2016 Ciliara Trading Ltd. All rights reserved.</div>
			<div class="footer__txt">
				<ul class="footer__list">
					<li class="footer__cell">How it works</li>
					<li class="footer__cell">User's agreement</li>
					<li class="footer__cell">Refund Policy</li>
					<li class="footer__cell">Affiliate program</li>
					<li class="footer__cell">Privacy policy</li>
				</ul>
			</div>
		</div>
		<div class="footer__left col-50">
			<div class="footer__right col-50">
				<h3 class="footer__title">Mobile</h3>
				<div class="footer__txt">
					<ul class="footer__mobile">
						<li class="footer__mob-item">
							<i class="footer__icon footer__mobile-ico icon-ios"></i>
							<span class="footer__mob-title">Doulike on iOS</span><br>
							<span class="footer__mob-txt">Download now via App Store</span>
						</li>
						<li class="footer__mob-item">
							<i class="footer__icon footer__mobile-ico icon-android"></i>
							<span class="footer__mob-title">Doulike on Android</span><br>
							<span class="footer__mob-txt">Download now via Google Play</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer__right col-50">
				<h3 class="footer__title">Follow Us</h3>
				<div class="footer__txt">
					<ul class="footer__soc">
						<li class="footer__soc-ico">
							<i class="footer__icon icon-fb"></i>
						</li>
						<li class="footer__soc-ico">
							<i class="footer__icon icon-tw"></i>
						</li>
						<li class="footer__soc-ico">
							<i class="footer__icon icon-inst"></i>
						</li>
						<li class="footer__soc-ico">
							<i class="footer__icon icon-tum"></i>
						</li>
						<li class="footer__soc-ico">
							<i class="footer__icon icon-pin"></i>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- END footer-->
