<!-- BEGIN  form filters-->
<section class="form">
	<div class="l-wrap">
		<form class="" action="index.html" method="post">
			<div class="form__item">
				<p class="form__txt">I’m</p>
				<div class="form__select">
					<select class="js-select">
						<option value="1">a man seeking a woman</option>
						<option value="2">a woman seeking a man</option>
					</select>
				</div>
			</div>
			<div class="form__item">
				<p class="form__txt">Between ages:</p>
				<div class="form__ages">
					<div class="form__from quantity">
						<input type="number" min="1" max="100" step="1" value="25">
					</div>
					<span>and</span>
					<div class="form__to quantity">
						<input type="number" min="1" max="100" step="1" value="35">
					</div>
				</div>
			</div>
			<div class="form__item">
				<p class="form__txt">Location</p>
				<div class="form__location">
					<input type="text" value="New York, USA">
				</div>
			</div>
			<div class="form__submit">
				<button class="form__btn" type="button" name="button">View Singles <i class="form__btn-arr icon-arr"></i></button>
			</div>
		</form>
	</div>
</section>
<!-- END form filters-->
