<!-- BEGIN  users-->
<main class="users">
	<div class="l-wrap">
		<div class="users__item user">
			<div class="user__in">
				<div class="user__photos">
					<div class="user__main-photo" style="background-image:url(img/users-photo/user1.jpg)">
						<div class="user__arrows">
							<a class="user__arr-prev" href="#"><i class="icon-prev-arr"></i></a>
							<a class="user__arr-next" href="#"><i class="icon-next-arr"></i></a>
						</div>
					</div>
					<div class="user__list-photos">
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-1.jpg)"></div>
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-2.jpg)"></div>
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-3.jpg)"></div>
					</div>
				</div>
				<div class="user__info">
					<div class="user__status">
						<i class="user__st-ico icon-online"></i>
						<span class="user__st-txt">Online</span>
					</div>
					<div class="user__name"></div>
					<div class="user__old"></div>
					<div class="user__city"></div>
					<div class="user__about"><a href="#">more &rsaquo;</a></div>
					<div class="user__profile">
						<a class="user__profile-btn" href="#">View Profile <i class="user__btn-arr icon-arr"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="users__item user">
			<div class="user__in">
				<div class="user__photos">
					<div class="user__main-photo" style="background-image:url(img/users-photo/user1.jpg)">
						<div class="user__arrows">
							<a class="user__arr-prev" href="#"><i class="icon-prev-arr"></i></a>
							<a class="user__arr-next" href="#"><i class="icon-next-arr"></i></a>
						</div>
					</div>
					<div class="user__list-photos">
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-1.jpg)"></div>
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-2.jpg)"></div>
						<div class="user__small-photo" style="background-image:url(img/users-small-photo/user1-3.jpg)"></div>
					</div>
				</div>
				<div class="user__info">
					<div class="user__status">
						<i class="user__st-ico icon-online"></i>
						<span class="user__st-txt">Online</span>
					</div>
					<div class="user__name"></div>
					<div class="user__old"></div>
					<div class="user__city"></div>
					<div class="user__about"><a href="#">more &rsaquo;</a></div>
					<div class="user__profile">
						<a class="user__profile-btn" href="#">View Profile <i class="user__btn-arr icon-arr"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- END users-->
